<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings />
  <configProtectedData>
    <providers>
      <add name="MyProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,&#xD;&#xA;Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a,&#xD;&#xA;processorArchitecture=MSIL"
           keyContainerName="frootaxiKeys"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>

  <connectionStrings>
    <clear />
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
        <forms loginUrl="~/Accounts/Login.aspx"></forms>
    </authentication>
  </system.web>
</configuration>
