<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings configProtectionProvider="MyProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>LsVY0Upk6V+Z83pAGRR8qIuylliHOACEkPSmq/6MYVCDlxS5e8qOBPz3DRiYQgZQ/RBirRUA0FvFh/HD2X1JfeabrCeUI7HmiS+p0uGG3n1UiH+krFpyvzc+GGAyP1dwaPCM96Q2GihV6F+LGpVRpnR6s8hZEU7iFj6l5ndLDIg=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>TkjAKtPkTA4tXC7urvy0BQr2jCKQklzr</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <configProtectedData>
    <providers>
      <add name="MyProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,&#xD;&#xA;Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a,&#xD;&#xA;processorArchitecture=MSIL"
           keyContainerName="MyKeys"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>

  <connectionStrings configProtectionProvider="MyProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>ei+R5vk2pCguh4IsFvJ0FCy8Mxzf0b4j9Ts5dqsK0KP+VGV831SoV7xtwJyJvpNfjTBe1XZHq7JAK9QKzyqLtdq0vRUpnQwu+fYuEX528u2OHurtWv5/0HTlKrKkkYaMqurBE4GaZD3I5dPgOAH9GUGWJ09H/g6NiioypV7V5nQ=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>ywt/bJDbocE30jciJLiJFYBr4ltlNF0zn3ZeOTs8r9UQfmn1+8pKe7ryVAtqY8JwYOblNiYd640hJJJIkA8fuj48xjSRHRDqMgWuYdcby/C1cEF9+OCU3/jpd/3bediq7b0gNdJCk0IqQdNP+IvijdKJf9Iwo8wjL7D0hfd5FR2cze5W1K+DKepbkocioQa9Czo4/tZG8sP7EyvYAaTjYXjjZlSTIS19QuJQtzULGl6VGrbgpNlAmizsqWleqCiZmugWqmIfleMpVLhbwo9qo/Cabit2YCOx3htv+ttg8wzEBCxBH/NA2lurKDZVx8tASmzoaSVkdvx7Zdqx6fGwcM9QZT/BMwyYEsg7KjkboScuDDkvMfQseqVrGtmkvdlvfVNrVuHdD0IczeSxguHQ/0cvTUtWKv5sEkyQ4jJnKAscp4ZK1dNa1PHTjVhN/Z4csZgFkMkQ8j8WcCxrdWScuu4jINRNL82itE1pinHpZ93fW7uS87ZlnhSV+rpcoRs3vhjsMAwpqldvQF+LZaZW2keuD9lQ06CHwQnVCQUrkViXruFLthcCwlC4cddMlqz5u8A4LcDv6+lXGxLliUSH7P4stlHCXgemRrN+af2GaGfdNnhDm4HMiKRRwlhuCDVvHyRavmhZFILjM0wGkMZWhfnTJjGn9zjrgrdIeKZV5AelllwBKpojYkzJeBok99aF0oKdoDvhuWSIyRfX01qr8Ki8yCGmhODf</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
        <forms loginUrl="~/Accounts/Login.aspx"></forms>
    </authentication>
  </system.web>
</configuration>
